<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.picodiploma.feedeepaplikasi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedeepAplikasi"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.About"></activity>
        <activity android:name=".ActivityRecommend" />
        <activity android:name=".Detail.DetailActivity" />
        <activity android:name=".Home.MainAccessCamera" />
        <activity
            android:name=".UI.SplashScreen"
            android:label="@string/secondary_name"
            android:theme="@style/SecondaryTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>